footer{
  background-color: rgba(var(--bg-q),1.0);
  padding: clamp(20px, 4.386vw, 50px) 0 15px;
}

.footer{
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  position: relative;

  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px 0;
    flex-wrap: wrap;

    &-item{
      border-left: solid 1px var(--br-m);

      &:first-child{
        border: none;
      }
    }

    &-link{
    padding: 0 10px;
    white-space: nowrap;
    color: rgba(var(--cl-m),1.0);
    line-height: 120%;
    font-size: 14px;
    white-space: nowrap;
    font-family: var(--font-family);
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover{
      text-decoration: none;
    }
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    p{
      text-align: start !important;
    }

    @include small-tablet{
      grid-column: 1/-1;
    }

    @include mobile{
      grid-column: initial;
    }
  }

  &__age{
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-family);
    line-height: 100%;
    color: rgba(var(--cl-m),1.0);
  }

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(20px, 3.1579vw, 36px);
    padding-top: clamp(5px, 1.3158vw, 15px);
  }

  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap:5px 10px;
    flex-wrap: wrap;
  }

  &__top{
    padding-bottom: clamp(20px, 2.6316vw, 30px);
    grid-gap: 15px 10px;
    border-bottom: 1px solid var(--br-m);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @include small-tablet{
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile{
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  &__title{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: clamp(32px, 3.4211vw, 39px);
    line-height: 120%;
    letter-spacing: .02em;
    color: rgba(var(--cl-l),1.0);
  }

  &__faq{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 1.4035vw, 16px);
  }

  p{
    color: rgba(var(--cl-l),1.0);
    font-family: var(--font-family);
    font-size: clamp(14px, 1.4035vw, 16px);
    line-height: 100%;
    font-weight: 400;
    text-align: center;
  }

  &__link{
    font-family: var(--font-family);
    font-size: clamp(14px, 1.4035vw, 16px);
    line-height: 100%;
    font-weight: 400;
    color: rgba(var(--cl-m),1.0);
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  &__copyright{
    width: 100%;
    text-align: center;
    position: relative;
    color: rgba(var(--cl-l),1.0);
    font-family:var(--font-family);
    font-size: clamp(14px, 1.4035vw, 16px);
    line-height: 100%;

    &::before{
      background-color: rgba(var(--bg-q),1.0);
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
    }
  }

  
}
