.header{
  width: 100%;
  background-color: rgba(var(--bg-c),1.0);
  padding:15px 0 0;
 
  &__box{
   display: grid;
   align-items: center;
   grid-gap:10px 15px;
   grid-template-columns: auto 1fr auto;
    justify-items: center;
  }

  .header-nav{
    grid-column: 1/-1;
  }

  .burger{
    @include mobile{
      margin-top: 10px;
    }
  }

}



