<footer>
  <div class="container">
    <div class="footer">

      <a href="#" class="main-download">
        <span class="main-download__image">
          <img width="215" height="140" src="static/img/index/download.png" alt="image">
        </span>
        <p>Каталог казино, бонусов и промокодов<br> в вашем телефоне</p>
        <span class="main-download__icon icon-download"></span>
      </a>

      <div class="footer__box">


        <span class="footer__copyright">Copyright © Casino.ru 2023. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>