<header class="header">
  <div class="container container--mode">   
      <div class="header__box">
        <button class="burger">
          <span class="burger__line"></span>
        </button>
        <a href="index.html" class="logo">
          <i class="icon-logo"></i>
        </a>

        <div class="header-info">
          <span class="header-info__icon"><i class="icon-info"></i></span>
          <div class="header-info__box">
            <span class="header-info__text">
              1000 бесплатных вращений и бонус 100%</span>
            <a href="#" class="yellow-button">Перейти</a>
          </div>
        </div>

        <div class="header-menu">
          <a href="#" class="header-menu__btn"><i class="icon-gift"></i></a>

          <div class="header-menu__box">
            <span class="header-menu__title">Получить бонус</span>
            <ul class="header-menu__wrapp">
              <li class="header-menu__item">
                <div class="header-bonus">
                  <a href="#" class="header-bonus__wrapp">
                    <div class="header-bonus__image">
                      <img width="98" height="65" src="static/img/index/img1.jpg" alt="image">
                    </div>
                    <span class="header-bonus__title">Aurora Casino</span>
                  </a>
                 
                  <div class="header-bonus__box">
                    <span class="header-bonus__text">1000 бесплатных вращений и бонус 100%</span>
                    <a href="#" class="yellow-button yellow-button--mode">Играть</a>
                  </div>
                </div>
              </li>
              <li class="header-menu__item">
                <div class="header-bonus">
                  <a href="#" class="header-bonus__wrapp">
                    <div class="header-bonus__image">
                      <img width="98" height="65" src="static/img/index/img2.jpg" alt="image">
                    </div>
                    <span class="header-bonus__title">Punch Casino</span>
                  </a>
                  <div class="header-bonus__box">
                    <span class="header-bonus__text">100 бесплатных вращений + 50 000</span>
                    <a href="#" class="yellow-button yellow-button--mode">Играть</a>
                  </div>
                </div>
              </li>
              <li class="header-menu__item">
                <div class="header-bonus">
                  <a href="#" class="header-bonus__wrapp">
                    <div class="header-bonus__image">
                      <img width="98" height="65" src="static/img/index/img1.jpg" alt="image">
                    </div>
                    <span class="header-bonus__title">Aurora Casino</span>
                  </a>
                  <div class="header-bonus__box">
                    <span class="header-bonus__text">900 бесплатных вращений и бонус 110%</span>
                    <a href="#" class="yellow-button yellow-button--mode">Играть</a>
                  </div>
                </div>
              </li>
            </ul> 
            <a href="#" class="header-menu__link">Все бонусы</a>
          </div>
        </div>
  
        <ul class="header-nav">
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Рейтинг казино</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Бонусы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Отзывы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Игровые автоматы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">новости</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Статьи</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Форум</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link header-nav__link--top">Еще</a>
          </li>
        </ul>
       

      </div>

    <div class="mobile-menu">
      <div class="mobile-menu__top">
        <a href="index.html" class="logo">
          <i class="icon-logo"></i>
        </a>
        <button class="burger">
          <span class="burger__line"></span>
        </button>
      </div>
      <div class="mobile-menu__box">
        <ul class="header-nav">
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Рейтинг казино</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Бонусы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Отзывы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Игровые автоматы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">новости</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Статьи</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Форум</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>