<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Игорный дом Лев">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RioBet</title>

    <link rel="preload" href="static/fonts/PFDinDisplayPro-Light.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/PFDinDisplayPro-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/PFDinDisplayPro-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/PFDinDisplayPro-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/PFDinDisplayPro-Black.woff" as="font" crossorigin="anonymous">


    <link rel="stylesheet" href="static/css/style.css">
</head>

