.main-social{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    &__title{
        font-weight: 500;
        letter-spacing: .02em;
        color: rgba(var(--cl-l),1.0);
        width: 100%;
        text-align: left;
        font-family: var(--font-family);
        line-height: 100%;
        font-size: clamp(14px, 1.4035vw, 16px);
    }

    &__list{
        display: flex;
        align-items: center;
        grid-gap: clamp(10px, 1.2281vw, 14px);
    }

    &__link{
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;

        &--twitter, &--tg{
            background-color: rgba(var(--bc-a),1.0);
            i{
                width: 20px;
                height: 20px;
                filter: brightness(10);
            }
        }

        &--facebook{
            background-color: rgba(var(--bc-b),1.0);
            i{
                width: 20px;
                height: 20px;
                filter: brightness(10);
            }
        }

        &--vk{
            background-color: rgba(var(--bc-c),1.0);
            i{
                width: 20px;
                height: 20px;
                filter: brightness(10);
            }
        }

        &--whatsapp{
            background-color: rgba(var(--bc-d),0.8);
            i{
                width: 20px;
                height: 20px;
            } 
        }

        &--viber{
            background-color: rgba(var(--bc-e),0.8);
            i{
                width: 20px;
                height: 20px;
                filter: brightness(10);
            } 
        }
  
        &:hover{
           opacity: .8;
        }
    }

    @include mobile{
        align-items: center;
    }
}

.footer-social{
    .main-social__link{
        width: 30px;
        height: 30px;

        border-radius: 50%;
        border: 1px solid var(--br-l);


        &:hover{
            background: rgba(var(--bg-r),1.0);
            opacity: 1;
            i{
                filter: brightness(10);
            }
        }
    }

    @include mobile{
        align-items: flex-start;
    }
}